.two-column-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 100vh;
}

.content-section {
  flex: 1 1 850px;
  max-width: 100%;
}

.profile-header-container, .profile-cards-holder {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}


.certificate-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.95rem;
  color: #475569;
  border-radius: 12px;
  overflow: hidden;

  thead {
    background-color: #f1f5f9;

    th {
      color: #102A5D;
      font-weight: 600;
      text-align: left;
      padding: 1rem;
      background-color: #e2e8f0;
    }
  }

  tbody tr {
    border-bottom: 1px solid #e2e8f0;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #f8fafc;
    }

    &:last-child {
      border-bottom: none;
    }

    td {
      padding: 1rem;
      vertical-align: middle;
      max-width: 250px;
      word-wrap: break-word;
    }
  }
}


.status-active {
  font-weight: 600;
  color: #16a34a;
  text-transform: capitalize;
}

.status-revoked {
  font-weight: 600;
  color: #dc2626;
  text-transform: capitalize;
}


.action-btn {
  background-color: #f1f5f9;
  color: #102A5D;
  border: 0.5px solid #102A5D;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 0.9rem;
  margin-right: 0.5rem;

  &:hover {
    background-color: #102A5D;
    color: #fff;
  }

  &:last-child {
    margin-right: 0;
  }
}


@media (max-width: 900px) {
  .two-column-container {
    flex-direction: column;
  }
}
