<div class="register-container">
  <div class="background-panel"></div>

  <div class="form-panel">
    <div class="form-content">

      <div *ngIf="message as msg"
           [ngClass]="{
       'bg-green-100 border-green-400 text-green-700': msg.type === 'success',
       'bg-red-100 border-red-400 text-red-700': msg.type === 'error',
       'bg-yellow-100 border-yellow-400 text-yellow-700': msg.type === 'warning'
     }"
           style="padding: 1rem; margin-bottom: 1rem; border: 1px solid; border-radius: 0.5rem;"
      >
        <p>{{ msg.text }}</p>
      </div>


      <div class="header">
        <h1>Create Account</h1>
        <p>Please fill in your details to register.</p>
      </div>

      <div class="form">
        <div class="input-group">
          <label for="email">E-mail</label>
          <app-input class="underline"
                     type="email"
                     placeholder="Enter your e-mail"
                     [(value)]="email"></app-input>
        </div>

        <div class="input-group">
          <label for="firstname">First Name</label>
          <app-input class="underline"
                     type="text"
                     placeholder="Enter your first name"
                     [(value)]="firstname"></app-input>
        </div>

        <div class="input-group">
          <label for="lastname">Last Name</label>
          <app-input class="underline"
                     type="text"
                     placeholder="Enter your last name"
                     [(value)]="lastname"></app-input>
        </div>

        <!-- Organization -->
        <div class="input-group">
          <label for="organization">Organization</label>
          <app-input class="underline"
                     type="text"
                     placeholder="Enter your organization"
                     [(value)]="organization"></app-input>
        </div>

        <div class="input-group">
          <label for="password">Password</label>
          <app-input class="underline"
                     type="password"
                     placeholder="········"
                     [(value)]="password"
                     (valueChange)="checkPasswordStrength($event)">
          </app-input>

          <div class="password-strength">
            <div class="strength-bar" [ngClass]="passwordStrength"></div>
            <small>{{ passwordStrengthMessage }}</small>
          </div>
        </div>

        <div class="input-group">
          <label for="confirmPassword">Confirm Password</label>
          <app-input class="underline"
                     type="password"
                     placeholder="········"
                     [(value)]="confirmPassword"></app-input>
        </div>

        <app-button message="Register"
                    (clicked)="onRegister()"></app-button>

        <div class="redirect-login">
          <p>Already have an account?
            <a href="/login">Log in</a>

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
